<form action="/restaurants" method="POST" class="justify-content-center">
  <input type="text" placeholder="id" name="id" value="id" style="display: block">
  <input type="text" placeholder="name" name="name" value="name" style="display: block">
  <input type="text" placeholder="name_en" name="name_en" value="name_en" style="display: block">
  <input type="text" placeholder="category" name="category" value="category" style="display: block">
  <input type="text" placeholder="imageURL" name="imageURL" value="imageURL" style="display: block">
  <input type="text" placeholder="location" name="location" value="location" style="display: block">
  <input type="text" placeholder="phone" name="phone" value="phone" style="display: block">
  <input type="text" placeholder="googleMapURL" name="googleMapURL" value="googleMapURL" style="display: block">
  <input type="number" placeholder="rating" name="rating" value="rating" style="display: block" step="0.1">
  <input type="text" placeholder="description" name="description" value="description" style="display: block">

  <button type="submit">Create</button>
</form>